* {
    scroll-behavior: smooth;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    color: var(--ash);

    font-family: 'DIN', sans-serif;

    --snow: hsl(0, 0%, 100%);
    --cloud: hsl(0, 0%, 97%);
    --smoke: hsl(0, 0%, 90%);
    --pebble: hsl(0, 0%, 69%);
    --steel: hsl(0, 0%, 47%);
    --ash: hsl(0, 0%, 29%);
    --obsidian: hsl(0, 0%, 13%);
    --fox: hsl(35, 100%, 50%);
    --fox-light: hsl(35, 100%, 55%);
    --fox-dark: hsl(35, 100%, 40%);
    --sky: hsl(199, 93%, 59%);
    --lemon: hsl(47, 100%, 54%);
    --elf: hsl(155, 66%, 50%);
    --elf-light: hsl(155, 66%, 55%);
    --flame: hsl(0, 100%, 63%);
    --flame-light: hsl(0, 100%, 68%);

    --ease-1: cubic-bezier(0.475,0.425,0,0.995);
    --ease-2: cubic-bezier(0.835,-0.005,0.06,1);
    --ease-3: cubic-bezier(0.19,1,0.22,1);
    --ease-4: cubic-bezier(0.63,0.03,0.21,1);

    --space-none: 0rem;
    --space-xs: 0.25rem;    /* 4px */
    --space-s: 0.5rem;      /* 8px */
    --space-m: 0.75rem;     /* 12px */
    --space-l: 1rem;        /* 16px */
    --space-xl: 1.25rem;    /* 20px */
    --space-2xl: 1.5rem;    /* 24px */
    --space-3xl: 2rem;      /* 32px */
    --space-4xl: 2.5rem;    /* 40px */
    --space-5xl: 3rem;      /* 48px */
    --space-6xl: 4rem;      /* 64px */

    --radius-none: 0px;
    --radius-s: 2px;
    --radius-m: 4px;
    --radius-l: 8px;
    --radius-xl: 12px;
    --radius-2xl: 16px;
    --radius-3xl: 32px;
    --radius-full: 9999px;

    --font-size-xs: 0.75rem;    /* 12px */
    --font-size-s: 0.875rem;    /* 14px */
    --font-size-m: 1rem;        /* 16px */
    --font-size-l: 1.25rem;     /* 20px */
    --font-size-xl: 1.563rem;   /* 25px */
    --font-size-2xl: 1.953rem;  /* 31px */
    --font-size-3xl: 2.441rem;  /* 39px */
    --font-size-4xl: 3.052rem;  /* 49px */
    --font-size-5xl: 3.815rem;  /* 61px */
    --font-size-6xl: 4.768rem;  /* 76px */
}
body{
    min-height: 100vh;
    width: 100vw;
}
/* TEXT TAGS STYLING */
p{
    font-weight: 500;
}
h1{
    font-family: 'Torus', sans-serif;
    font-weight: 700;
    overflow: hidden;
}
h1 span{
    font-family: inherit;
}

/* SHARED STYLES */
.global-section{
    display: flex;
    padding: var(--space-3xl) var(--space-l);
}
.global-content-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    gap: var(--space-2xl);
}

/* FONT COLORS */
.global-orange-color{
    color: var(--fox) !important;
    fill: var(--fox) !important;
}
.global-white-color{
    color: var(--snow) !important;
    fill: var(--snow) !important;
}
.global-elf-color{
    color: var(--elf) !important;
    fill: var(--elf) !important;
}
.global-elf-light-color{
    color: var(--elf-light) !important;
    fill: var(--elf-light) !important;
}
.global-flame-color{
    color: var(--flame) !important;
    fill: var(--flame) !important;
}
.global-flame-light-color{
    color: var(--flame-light) !important;
    fill: var(--flame-light) !important;
}

/* BACKGROUND COLORS */
.global-cloud-background{
    background-color: var(--cloud);
}
.global-orange-background{
    background-color: var(--fox);
}

/* FONT WEIGHTS */
.global-light-weight{
    font-weight: 300;
}
.global-regular-weight{
    font-weight: 400;
}
.global-medium-weight{
    font-weight: 500;
}
.global-bold-weight{
    font-weight: 700;
}
.global-black-weight{
    font-weight: 900;
}

/* FONT SIZES */
.global-font-size-s{
    font-size: var(--font-size-s);
}

/* DYNAMIC STYLES */
@media screen and (max-width : 767px) {
    h1{
        font-size: var(--font-size-2xl);
        line-height: 1.1;
        text-align: center;
    }
    .global-content-wrapper{
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  
}
@media screen and (min-width : 1080px) {
    .global-content-wrapper{
        flex-direction: row;
    }
}

/* FONT FACES */
@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_light.woff2') format('woff2'),
         url('/fonts/din_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_reg.woff2') format('woff2'),
         url('/fonts/din_reg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_medi.woff2') format('woff2'),
         url('/fonts/din_medi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_bold.woff2') format('woff2'),
         url('/fonts/din_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('/fonts/din_black.woff2') format('woff2'),
         url('/fonts/din_black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Torus';
    src: url('/fonts/torus_light.woff2') format('woff2'),
         url('/fonts/torus_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Torus';
    src: url('/fonts/torus_reg.woff2') format('woff2'),
         url('/fonts/torus_reg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Torus';
    src: url('/fonts/torus_bold.woff2') format('woff2'),
         url('/fonts/torus_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}