---
import Hero from '../components/index/Hero.astro';
import PainGain from '../components/index/PainGain.astro';
import Layout from '../layouts/Layout.astro';
import Rundown from '../components/index/Rundown.astro'
import Comparison from '../components/index/Comparison.astro'
---

<Layout title="Keyhunt">
	<main>
		<Hero/>
		<PainGain/>
		<Rundown/>
		<Comparison/>
	</main>
</Layout>

<style>
	
</style>
