---
type Props = {

}

const {} = Astro.props

---
<nav class="nav-wrapper">
    <img src="/images/text-logo.svg" alt="keyhunt logo">
</nav>

<style lang="scss">
    .nav-wrapper{
        width: 100%;
        height: 70px;

    }
</style>