---
import PrimaryButton from './buttons/PrimaryButton.astro'
import { links } from '../utils/links'
---
<header class="header">
    <nav class="nav-wrapper">
        <img src="/images/text-logo-orange.svg" alt="keyhunt logo">
        <PrimaryButton text='GET STARTED' href={links.home}/>
    </nav>
</header>

<style lang="scss">
    .header{
        width: 100%;
        height: 70px;
        // border-bottom: 2px solid var(--smoke);
        padding: var(--space-l);
    }

    .nav-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: visible;
        
        img{
            max-height: 100%;
            height: 65%;
            width: auto;
        }
    }
</style>