---
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import { links } from '../utils/links'
---
<script lang="ts">
    document.addEventListener('DOMContentLoaded', () => {
        const headerButton = document.getElementById('header-button');
        const footerButton = document.getElementById('footer-button');
        const heroButton = document.getElementById('hero-button');
        const headerLogo = document.getElementById('header-logo');

        if (headerButton && heroButton && footerButton) {
            console.log('hello')
            const observer = new IntersectionObserver(
                (entries) => {
                    entries.forEach(entry => {
                        if (entry.target === heroButton) {
                            if (entry.isIntersecting) {
                                headerButton.classList.add('hidden');
                                headerLogo.classList.add('change');
                            } else {
                                headerButton.classList.remove('hidden');
                                headerLogo.classList.remove('change');
                            }
                        }
                    });
                },
                { threshold: 0.1 }
            );

            observer.observe(heroButton);
		}
	});

    document.addEventListener('scroll', () => {
        const header = document.getElementById('header');
        if (window.scrollY !== 0){
            header.classList.add('scrolled-header');
            header.classList.remove('non-scrolled-header');
        } else {
            header.classList.add('non-scrolled-header');
            header.classList.remove('scrolled-header');
        }
    });
</script>

<header class="header non-scrolled-header" id="header">
    <nav class="nav-wrapper">
        <img src="/images/text-logo-orange.svg" class="change" alt="keyhunt logo" id="header-logo">
        <div class="button-wrapper">
            <PrimaryButton text='GET STARTED' href={links.home} className='hidden' id='header-button'/>
        </div>
    </nav>
</header>

<style lang="scss">
    .scrolled-header{
        border-bottom: 2px solid var(--cloud);
    }
    .non-scrolled-header{
        border-bottom: 2px solid var(--snow);
    }
    #header-logo{
        transition: all 0.3s var(--ease-1);
    }
    .change{
        margin: 0 auto !important;
    }
    .header{
        width: 100%;
        height: 70px;
        min-height: 70px;
        background-color: var(--snow);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .button-wrapper{
        display: flex;
        width: max-content;
    }

    .header{
        width: 100vw;
    }
    .nav-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: visible;
        
        img{
            max-height: 100%;
            width: auto;
        }
    }
    @media screen and (max-width : 767px) {
        .header{
            padding: var(--space-l);
        }
        .nav-wrapper img{
            height: 65%;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1079px) {
        .header{
            padding: var(--space-l) var(--space-4xl);
        }
        .nav-wrapper img{
            height: 90%;
        }
    }
    @media screen and (min-width : 1080px) {
        .header{
            padding: var(--space-l) 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        .nav-wrapper {
            max-width: 1200px;
            
            img{
                height: 100%;
            }
        }
    }
</style>