---

---
<section class="global-section">
    <div class="global-content-wrapper">
        <h1>stay ahead with <span class="global-orange-color">keyhunt</span></h1>
        <div class="matrix-wrapper">
            <div class="matrix global-cloud-background">
                <p class="matrix-title">Searching <span class="global-bold-weight">manually</span></p>
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" class="li-icon" viewBox="0 0 24 24"><path class="global-flame-light-color" fill="currentColor" d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12S6.47 2 12 2m3.59 5L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z"/></svg>
                        <p class="li-text">Refreshing the same 3+ rental sites</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" class="li-icon" viewBox="0 0 24 24"><path class="global-flame-light-color" fill="currentColor" d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12S6.47 2 12 2m3.59 5L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z"/></svg>
                        <p class="li-text">Finding your dream home too late to respond</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" class="li-icon" viewBox="0 0 24 24"><path class="global-flame-light-color" fill="currentColor" d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12S6.47 2 12 2m3.59 5L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z"/></svg>
                        <p class="li-text">Spending hours with no results</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" class="li-icon" viewBox="0 0 24 24"><path class="global-flame-light-color" fill="currentColor" d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12S6.47 2 12 2m3.59 5L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z"/></svg>
                        <p class="li-text">Constant stress from searching with no end in sight</p>
                    </li>
                </ul>
            </div>
            <div class="matrix global-orange-background">
                <p class="matrix-title global-white-color">Searching with <span class="global-bold-weight global-white-color">keyhunt</span></p>
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" class="li-icon"  viewBox="0 0 24 24"><path class="global-elf-light-color" fill="currentColor" fill-rule="evenodd" d="M12 21a9 9 0 1 0 0-18a9 9 0 0 0 0 18m-.232-5.36l5-6l-1.536-1.28l-4.3 5.159l-2.225-2.226l-1.414 1.414l3 3l.774.774z" clip-rule="evenodd"/></svg>
                        <p class="li-text global-white-color">Save hours of searching and let us do the work</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg"  class="li-icon" viewBox="0 0 24 24"><path class="global-elf-light-color" fill="currentColor" fill-rule="evenodd" d="M12 21a9 9 0 1 0 0-18a9 9 0 0 0 0 18m-.232-5.36l5-6l-1.536-1.28l-4.3 5.159l-2.225-2.226l-1.414 1.414l3 3l.774.774z" clip-rule="evenodd"/></svg>
                        <p class="li-text global-white-color">We monitor hundreds of websites every minute</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg"  class="li-icon" viewBox="0 0 24 24"><path class="global-elf-light-color" fill="currentColor" fill-rule="evenodd" d="M12 21a9 9 0 1 0 0-18a9 9 0 0 0 0 18m-.232-5.36l5-6l-1.536-1.28l-4.3 5.159l-2.225-2.226l-1.414 1.414l3 3l.774.774z" clip-rule="evenodd"/></svg>
                        <p class="li-text global-white-color">Respond within seconds with our real-time notifictation</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" class="li-icon"  viewBox="0 0 24 24"><path class="global-elf-light-color" fill="currentColor" fill-rule="evenodd" d="M12 21a9 9 0 1 0 0-18a9 9 0 0 0 0 18m-.232-5.36l5-6l-1.536-1.28l-4.3 5.159l-2.225-2.226l-1.414 1.414l3 3l.774.774z" clip-rule="evenodd"/></svg>
                        <p class="li-text global-white-color">Find your next home in no time with no stress</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .matrix-wrapper{
        border-radius: var(--radius-xl);
    }

    .matrix{
        width: 100%;
        padding: var(--space-m);
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        .matrix-title{
            font-size: var(--font-size-l);
            text-align: center;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: var(--space-s);
            li{
                display: flex;
                gap: var(--space-s);
                align-items: center;
                .li-icon{
                    display: flex;
                    width: auto;
                    height: var(--font-size-xl);
                    justify-self: center;
                }
                .li-text{
                    flex: 1 1;
                }
            }
        }
        }
    .matrix{

    }
</style>