---
import { links } from "../../utils/links"
import PrimaryButton from "../buttons/PrimaryButton.astro"
---
<section class="global-section">
    <div class="global-content-wrapper">
        <div class="text-wrapper">
            <h1>Finding a rental home has <span class="global-orange-text">never been easier</span></h1>
            <div class="steps-wrapper">
                <div class="step-wrapper">
                    <div class="step-number-wrapper">
                        <span>1</span>
                    </div>
                    <div class="step-text">
                        <p class="global-font-bold">Tell us what you are looking for</p>
                        <p class="global-font-size-s">We’ll take it from here, so say goodbye to the manual search!</p>
                    </div>
                </div>
                <div class="step-wrapper">
                    <div class="step-number-wrapper">
                        <span>2</span>
                    </div>
                    <div class="step-text">
                        <p class="global-font-bold">Get instant alerts</p>
                        <p class="global-font-size-s">New rental online? We will let you know first!</p>
                    </div>
                </div>
                <div class="step-wrapper">
                    <div class="step-number-wrapper">
                        <span>3</span>
                    </div>
                    <div class="step-text">
                        <p class="global-font-bold">Get more viewings</p>
                        <p class="global-font-size-s">Have an advantage over others and be the first to reply</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-button-wrapper">
            <PrimaryButton text="GET STARTED FOR FREE" href={links.home}/>
            <div class="hero-button-undertitle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m-1.87-8.2h1.37c.236 0 .354 0 .427.073s.073.191.073.427v4.43c0 .89 0 1.336.196 1.38c.197.042.383-.362.758-1.17l2.731-5.9c.592-1.278.888-1.917.593-2.378s-1-.462-2.408-.462H12.5c-.236 0-.354 0-.427-.073S12 9.936 12 9.7V5.27c0-.89 0-1.336-.196-1.38c-.197-.042-.383.362-.758 1.17l-2.731 5.9c-.592 1.278-.888 1.917-.593 2.378s1 .462 2.408.462" clip-rule="evenodd"/></svg>
                <p>For a limited time only!</p>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .steps-wrapper{
        display: flex;
        flex-direction: column;
        margin: var(--space-l) 0 0 0;
        .step-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--space-m);

            .step-number-wrapper{
                width: 40px;
                height: 40px;
                border-radius: var(--radius-full);
                background-color: var(--fox);
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-family: 'Torus', sans-serif;
                    font-weight: 700;
                    font-size: var(--font-size-l);
                }
            }

            .step-text{
                flex: 1 1;
            }
        }
    }

    .hero-button-wrapper{
        overflow: visible;
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        gap: var(--space-s);

        .hero-button-undertitle{
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--elf);
            p{
                font-size: var(--font-size-s);
                text-align: center;
                color: var(--elf);
            }
            svg{
                height: var(--font-size-m);
                width: auto;
                path{
                    fill: var(--elf) !important;
                }
            }
        }
    }
</style>