---

---
<section class="global-section-medium">
    <div class="global-content-wrapper">
        <div class="text-wrapper">
            <div class="global-header-wrapper">
                <h1>your next home <span class="global-orange-color">without the hassle</span></h1>
            </div>
            <p>Wasting hours searching with no results? That’s a thing of the past. Take back control of your time and home search with Keyhunt!</p>
        </div>
        <div class="image-wrapper">
            <img src="/illustrations/paingain.svg" loading="lazy" alt="">
        </div>
    </div>
</section>

<style lang="scss">
    .global-content-wrapper{
        display: flex;

        .text-wrapper{
            display: flex;
            flex-direction: column;
            gap: var(--space-m);
            flex: 1 1;
        }
        .image-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1;

            img{
                padding: var(--space-l);
            }
        }        
    }

    @media screen and (max-width : 767px) {
        .global-content-wrapper{
            flex-direction: column;
        }
        .text-wrapper{
            text-align: center;
        }
    }
    @media screen and (min-width: 768px){
        .global-content-wrapper{
            flex-direction: row;
        }
        .text-wrapper{
            text-align: left;
            justify-content: center;
            p{
                font-size: var(--font-size-l);
            }
        }
        .image-wrapper img{
                height: 300px;
            }
        } 
</style>